In [1]:
#元々インポートしてあったモジュール
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#新たに作成したモジュールなどをimport
import sys
import json
import requests
import os
sys.path.append("../src")
from utils import dataframe_to_dict, inference_to_new_data, get_psg_cls_list

host_name = "http://localhost:8081"

In [3]:
# URL to the Titanic dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
# Read data from the URL
raw_data = pd.read_csv(url)

In [4]:
raw_data[0:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
#データフレームをdict形式に変換する
success_result_dict = dataframe_to_dict(raw_data[0:2])
print('成功例')
print(success_result_dict)

#['Survived', 'Pclass', 'Sex', 'Age', 'Fare']の項目が揃っていないデータはエラーを返す
false_result_dict = dataframe_to_dict(raw_data[0:2]['Name'])
print('失敗例')
print(false_result_dict)

print('取得したデータのtype')
print(type(success_result_dict[0]))

成功例
[{'Survived': 0, 'Pclass': 3, 'Sex': 'male', 'Age': 22.0, 'Fare': 7.25}, {'Survived': 1, 'Pclass': 1, 'Sex': 'female', 'Age': 38.0, 'Fare': 71.2833}]
"None of [Index(['Survived', 'Pclass', 'Sex', 'Age', 'Fare'], dtype='object')] are in the [index]"
失敗例
正しいデータ形式ではありません。
取得したデータのtype
<class 'dict'>

In [6]:
#データを辞書型のリストに変換する
result_dict = dataframe_to_dict(raw_data[0:100],mode='sex_to_num')

print(len(result_dict))

78

In [13]:
result_dict

[{'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 22.0, 'Fare': 7.25},
 {'Survived': 1, 'Pclass': 1, 'Sex': 1, 'Age': 38.0, 'Fare': 71.2833},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 26.0, 'Fare': 7.925},
 {'Survived': 1, 'Pclass': 1, 'Sex': 1, 'Age': 35.0, 'Fare': 53.1},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 35.0, 'Fare': 8.05},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 54.0, 'Fare': 51.8625},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 2.0, 'Fare': 21.075},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 27.0, 'Fare': 11.1333},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 14.0, 'Fare': 30.0708},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 4.0, 'Fare': 16.7},
 {'Survived': 1, 'Pclass': 1, 'Sex': 1, 'Age': 58.0, 'Fare': 26.55},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 20.0, 'Fare': 8.05},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 39.0, 'Fare': 31.275},
 {'Survived': 0, 'Pclass': 3, 'Sex': 1, 'Age': 14.0, 'Fare': 7.8542},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 55.0, 'Fare': 16.0},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 2.0, 'Fare': 29.125},
 {'Survived': 0, 'Pclass': 3, 'Sex': 1, 'Age': 31.0, 'Fare': 18.0},
 {'Survived': 0, 'Pclass': 2, 'Sex': 0, 'Age': 35.0, 'Fare': 26.0},
 {'Survived': 1, 'Pclass': 2, 'Sex': 0, 'Age': 34.0, 'Fare': 13.0},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 15.0, 'Fare': 8.0292},
 {'Survived': 1, 'Pclass': 1, 'Sex': 0, 'Age': 28.0, 'Fare': 35.5},
 {'Survived': 0, 'Pclass': 3, 'Sex': 1, 'Age': 8.0, 'Fare': 21.075},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 38.0, 'Fare': 31.3875},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 19.0, 'Fare': 263.0},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 40.0, 'Fare': 27.7208},
 {'Survived': 0, 'Pclass': 2, 'Sex': 0, 'Age': 66.0, 'Fare': 10.5},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 28.0, 'Fare': 82.1708},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 42.0, 'Fare': 52.0},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 21.0, 'Fare': 8.05},
 {'Survived': 0, 'Pclass': 3, 'Sex': 1, 'Age': 18.0, 'Fare': 18.0},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 14.0, 'Fare': 11.2417},
 {'Survived': 0, 'Pclass': 3, 'Sex': 1, 'Age': 40.0, 'Fare': 9.475},
 {'Survived': 0, 'Pclass': 2, 'Sex': 1, 'Age': 27.0, 'Fare': 21.0},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 3.0, 'Fare': 41.5792},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 19.0, 'Fare': 7.8792},
 {'Survived': 0, 'Pclass': 3, 'Sex': 1, 'Age': 18.0, 'Fare': 17.8},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 7.0, 'Fare': 39.6875},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 21.0, 'Fare': 7.8},
 {'Survived': 1, 'Pclass': 1, 'Sex': 1, 'Age': 49.0, 'Fare': 76.7292},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 29.0, 'Fare': 26.0},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 65.0, 'Fare': 61.9792},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 21.0, 'Fare': 10.5},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 28.0, 'Fare': 7.2292},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 5.0, 'Fare': 27.75},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 11.0, 'Fare': 46.9},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 22.0, 'Fare': 7.2292},
 {'Survived': 1, 'Pclass': 1, 'Sex': 1, 'Age': 38.0, 'Fare': 80.0},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 45.0, 'Fare': 83.475},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 4.0, 'Fare': 27.9},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 29.0, 'Fare': 10.5},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 19.0, 'Fare': 8.1583},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 17.0, 'Fare': 7.925},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 26.0, 'Fare': 8.6625},
 {'Survived': 0, 'Pclass': 2, 'Sex': 0, 'Age': 32.0, 'Fare': 10.5},
 {'Survived': 0, 'Pclass': 3, 'Sex': 1, 'Age': 16.0, 'Fare': 46.9},
 {'Survived': 0, 'Pclass': 2, 'Sex': 0, 'Age': 21.0, 'Fare': 73.5},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 26.0, 'Fare': 14.4542},
 {'Survived': 1, 'Pclass': 3, 'Sex': 0, 'Age': 32.0, 'Fare': 56.4958},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 25.0, 'Fare': 7.65},
 {'Survived': 1, 'Pclass': 2, 'Sex': 0, 'Age': 0.0, 'Fare': 29.0},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 30.0, 'Fare': 12.475},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 22.0, 'Fare': 9.0},
 {'Survived': 1, 'Pclass': 3, 'Sex': 0, 'Age': 29.0, 'Fare': 9.5},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 28.0, 'Fare': 47.1},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 17.0, 'Fare': 10.5},
 {'Survived': 1, 'Pclass': 3, 'Sex': 1, 'Age': 33.0, 'Fare': 15.85},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 16.0, 'Fare': 34.375},
 {'Survived': 1, 'Pclass': 1, 'Sex': 1, 'Age': 23.0, 'Fare': 263.0},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 24.0, 'Fare': 8.05},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 29.0, 'Fare': 8.05},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 20.0, 'Fare': 7.8542},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 46.0, 'Fare': 61.175},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 26.0, 'Fare': 20.575},
 {'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 59.0, 'Fare': 7.25},
 {'Survived': 0, 'Pclass': 1, 'Sex': 0, 'Age': 71.0, 'Fare': 34.6542},
 {'Survived': 1, 'Pclass': 1, 'Sex': 0, 'Age': 23.0, 'Fare': 63.3583},
 {'Survived': 1, 'Pclass': 2, 'Sex': 1, 'Age': 34.0, 'Fare': 23.0},
 {'Survived': 0, 'Pclass': 2, 'Sex': 0, 'Age': 34.0, 'Fare': 26.0}]

In [31]:
#データをデータベースに登録する
url = host_name + "/upload_data"
res = requests.post(url, json=result_dict)

print(res.content)

b'{"transaction_result":"success"}'

In [18]:
#DBからデータを取得する
url = host_name + "/get_data"
data_index={'start_index':1,'end_index':200}#取得するindexの範囲を指定する
res = requests.post(url, json=data_index)

#resはバイナリデータで返される, decodeで文字列に変換
#その後、{}で囲まれた部分を、json.loads()で辞書型データに変換
data_list = json.loads(res.content.decode('utf-8'))
data_list

[{'data_id': 1,
  'survived': 0,
  'sex': 0,
  'fare': 7.25,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 22},
 {'data_id': 2,
  'survived': 1,
  'sex': 1,
  'fare': 71.2833,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 38},
 {'data_id': 3,
  'survived': 1,
  'sex': 1,
  'fare': 7.925,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 26},
 {'data_id': 4,
  'survived': 1,
  'sex': 1,
  'fare': 53.1,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 35},
 {'data_id': 5,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 35},
 {'data_id': 6,
  'survived': 0,
  'sex': 0,
  'fare': 51.8625,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 54},
 {'data_id': 7,
  'survived': 0,
  'sex': 0,
  'fare': 21.075,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 2},
 {'data_id': 8,
  'survived': 1,
  'sex': 1,
  'fare': 11.1333,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 27},
 {'data_id': 9,
  'survived': 1,
  'sex': 1,
  'fare': 30.0708,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 14},
 {'data_id': 10,
  'survived': 1,
  'sex': 1,
  'fare': 16.7,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 4},
 {'data_id': 11,
  'survived': 1,
  'sex': 1,
  'fare': 26.55,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 58},
 {'data_id': 12,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 20},
 {'data_id': 13,
  'survived': 0,
  'sex': 0,
  'fare': 31.275,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 39},
 {'data_id': 14,
  'survived': 0,
  'sex': 1,
  'fare': 7.8542,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 14},
 {'data_id': 15,
  'survived': 1,
  'sex': 1,
  'fare': 16.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 55},
 {'data_id': 16,
  'survived': 0,
  'sex': 0,
  'fare': 29.125,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 2},
 {'data_id': 17,
  'survived': 0,
  'sex': 1,
  'fare': 18.0,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 31},
 {'data_id': 18,
  'survived': 0,
  'sex': 0,
  'fare': 26.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 35},
 {'data_id': 19,
  'survived': 1,
  'sex': 0,
  'fare': 13.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 34},
 {'data_id': 20,
  'survived': 1,
  'sex': 1,
  'fare': 8.0292,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 15},
 {'data_id': 21,
  'survived': 1,
  'sex': 0,
  'fare': 35.5,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 28},
 {'data_id': 22,
  'survived': 0,
  'sex': 1,
  'fare': 21.075,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 8},
 {'data_id': 23,
  'survived': 1,
  'sex': 1,
  'fare': 31.3875,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 38},
 {'data_id': 24,
  'survived': 0,
  'sex': 0,
  'fare': 263.0,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 19},
 {'data_id': 25,
  'survived': 0,
  'sex': 0,
  'fare': 27.7208,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 40},
 {'data_id': 26,
  'survived': 0,
  'sex': 0,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 66},
 {'data_id': 27,
  'survived': 0,
  'sex': 0,
  'fare': 82.1708,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 28},
 {'data_id': 28,
  'survived': 0,
  'sex': 0,
  'fare': 52.0,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 42},
 {'data_id': 29,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 21},
 {'data_id': 30,
  'survived': 0,
  'sex': 1,
  'fare': 18.0,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 18},
 {'data_id': 31,
  'survived': 1,
  'sex': 1,
  'fare': 11.2417,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 14},
 {'data_id': 32,
  'survived': 0,
  'sex': 1,
  'fare': 9.475,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 40},
 {'data_id': 33,
  'survived': 0,
  'sex': 1,
  'fare': 21.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 27},
 {'data_id': 34,
  'survived': 1,
  'sex': 1,
  'fare': 41.5792,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 3},
 {'data_id': 35,
  'survived': 1,
  'sex': 1,
  'fare': 7.8792,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 19},
 {'data_id': 36,
  'survived': 0,
  'sex': 1,
  'fare': 17.8,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 18},
 {'data_id': 37,
  'survived': 0,
  'sex': 0,
  'fare': 39.6875,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 7},
 {'data_id': 38,
  'survived': 0,
  'sex': 0,
  'fare': 7.8,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 21},
 {'data_id': 39,
  'survived': 1,
  'sex': 1,
  'fare': 76.7292,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 49},
 {'data_id': 40,
  'survived': 1,
  'sex': 1,
  'fare': 26.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 29},
 {'data_id': 41,
  'survived': 0,
  'sex': 0,
  'fare': 61.9792,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 65},
 {'data_id': 42,
  'survived': 1,
  'sex': 1,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 21},
 {'data_id': 43,
  'survived': 0,
  'sex': 0,
  'fare': 7.2292,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 28},
 {'data_id': 44,
  'survived': 1,
  'sex': 1,
  'fare': 27.75,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 5},
 {'data_id': 45,
  'survived': 0,
  'sex': 0,
  'fare': 46.9,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 11},
 {'data_id': 46,
  'survived': 0,
  'sex': 0,
  'fare': 7.2292,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 22},
 {'data_id': 47,
  'survived': 1,
  'sex': 1,
  'fare': 80.0,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 38},
 {'data_id': 48,
  'survived': 0,
  'sex': 0,
  'fare': 83.475,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 45},
 {'data_id': 49,
  'survived': 0,
  'sex': 0,
  'fare': 27.9,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 4},
 {'data_id': 50,
  'survived': 1,
  'sex': 1,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 29},
 {'data_id': 51,
  'survived': 0,
  'sex': 0,
  'fare': 8.1583,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 19},
 {'data_id': 52,
  'survived': 1,
  'sex': 1,
  'fare': 7.925,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 17},
 {'data_id': 53,
  'survived': 0,
  'sex': 0,
  'fare': 8.6625,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 26},
 {'data_id': 54,
  'survived': 0,
  'sex': 0,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 32},
 {'data_id': 55,
  'survived': 0,
  'sex': 1,
  'fare': 46.9,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 16},
 {'data_id': 56,
  'survived': 0,
  'sex': 0,
  'fare': 73.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 21},
 {'data_id': 57,
  'survived': 0,
  'sex': 0,
  'fare': 14.4542,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 26},
 {'data_id': 58,
  'survived': 1,
  'sex': 0,
  'fare': 56.4958,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 32},
 {'data_id': 59,
  'survived': 0,
  'sex': 0,
  'fare': 7.65,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 25},
 {'data_id': 60,
  'survived': 1,
  'sex': 0,
  'fare': 29.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 0},
 {'data_id': 61,
  'survived': 1,
  'sex': 1,
  'fare': 12.475,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 30},
 {'data_id': 62,
  'survived': 0,
  'sex': 0,
  'fare': 9.0,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 22},
 {'data_id': 63,
  'survived': 1,
  'sex': 0,
  'fare': 9.5,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 29},
 {'data_id': 64,
  'survived': 0,
  'sex': 0,
  'fare': 47.1,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 28},
 {'data_id': 65,
  'survived': 1,
  'sex': 1,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 17},
 {'data_id': 66,
  'survived': 1,
  'sex': 1,
  'fare': 15.85,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 33},
 {'data_id': 67,
  'survived': 0,
  'sex': 0,
  'fare': 34.375,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 16},
 {'data_id': 68,
  'survived': 1,
  'sex': 1,
  'fare': 263.0,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 23},
 {'data_id': 69,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 24},
 {'data_id': 70,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 29},
 {'data_id': 71,
  'survived': 0,
  'sex': 0,
  'fare': 7.8542,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 20},
 {'data_id': 72,
  'survived': 0,
  'sex': 0,
  'fare': 61.175,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 46},
 {'data_id': 73,
  'survived': 0,
  'sex': 0,
  'fare': 20.575,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 26},
 {'data_id': 74,
  'survived': 0,
  'sex': 0,
  'fare': 7.25,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 59},
 {'data_id': 75,
  'survived': 0,
  'sex': 0,
  'fare': 34.6542,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 71},
 {'data_id': 76,
  'survived': 1,
  'sex': 0,
  'fare': 63.3583,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 23},
 {'data_id': 77,
  'survived': 1,
  'sex': 1,
  'fare': 23.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 34},
 {'data_id': 78,
  'survived': 0,
  'sex': 0,
  'fare': 26.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 34},
 {'data_id': 79,
  'survived': 0,
  'sex': 0,
  'fare': 7.25,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 22},
 {'data_id': 80,
  'survived': 1,
  'sex': 1,
  'fare': 71.2833,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 38},
 {'data_id': 81,
  'survived': 1,
  'sex': 1,
  'fare': 7.925,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 26},
 {'data_id': 82,
  'survived': 1,
  'sex': 1,
  'fare': 53.1,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 35},
 {'data_id': 83,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 35},
 {'data_id': 84,
  'survived': 0,
  'sex': 0,
  'fare': 51.8625,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 54},
 {'data_id': 85,
  'survived': 0,
  'sex': 0,
  'fare': 21.075,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 2},
 {'data_id': 86,
  'survived': 1,
  'sex': 1,
  'fare': 11.1333,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 27},
 {'data_id': 87,
  'survived': 1,
  'sex': 1,
  'fare': 30.0708,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 14},
 {'data_id': 88,
  'survived': 1,
  'sex': 1,
  'fare': 16.7,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 4},
 {'data_id': 89,
  'survived': 1,
  'sex': 1,
  'fare': 26.55,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 58},
 {'data_id': 90,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 20},
 {'data_id': 91,
  'survived': 0,
  'sex': 0,
  'fare': 31.275,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 39},
 {'data_id': 92,
  'survived': 0,
  'sex': 1,
  'fare': 7.8542,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 14},
 {'data_id': 93,
  'survived': 1,
  'sex': 1,
  'fare': 16.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 55},
 {'data_id': 94,
  'survived': 0,
  'sex': 0,
  'fare': 29.125,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 2},
 {'data_id': 95,
  'survived': 0,
  'sex': 1,
  'fare': 18.0,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 31},
 {'data_id': 96,
  'survived': 0,
  'sex': 0,
  'fare': 26.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 35},
 {'data_id': 97,
  'survived': 1,
  'sex': 0,
  'fare': 13.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 34},
 {'data_id': 98,
  'survived': 1,
  'sex': 1,
  'fare': 8.0292,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 15},
 {'data_id': 99,
  'survived': 1,
  'sex': 0,
  'fare': 35.5,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 28},
 {'data_id': 100,
  'survived': 0,
  'sex': 1,
  'fare': 21.075,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 8},
 {'data_id': 101,
  'survived': 1,
  'sex': 1,
  'fare': 31.3875,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 38},
 {'data_id': 102,
  'survived': 0,
  'sex': 0,
  'fare': 263.0,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 19},
 {'data_id': 103,
  'survived': 0,
  'sex': 0,
  'fare': 27.7208,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 40},
 {'data_id': 104,
  'survived': 0,
  'sex': 0,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 66},
 {'data_id': 105,
  'survived': 0,
  'sex': 0,
  'fare': 82.1708,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 28},
 {'data_id': 106,
  'survived': 0,
  'sex': 0,
  'fare': 52.0,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 42},
 {'data_id': 107,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 21},
 {'data_id': 108,
  'survived': 0,
  'sex': 1,
  'fare': 18.0,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 18},
 {'data_id': 109,
  'survived': 1,
  'sex': 1,
  'fare': 11.2417,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 14},
 {'data_id': 110,
  'survived': 0,
  'sex': 1,
  'fare': 9.475,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 40},
 {'data_id': 111,
  'survived': 0,
  'sex': 1,
  'fare': 21.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 27},
 {'data_id': 112,
  'survived': 1,
  'sex': 1,
  'fare': 41.5792,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 3},
 {'data_id': 113,
  'survived': 1,
  'sex': 1,
  'fare': 7.8792,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 19},
 {'data_id': 114,
  'survived': 0,
  'sex': 1,
  'fare': 17.8,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 18},
 {'data_id': 115,
  'survived': 0,
  'sex': 0,
  'fare': 39.6875,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 7},
 {'data_id': 116,
  'survived': 0,
  'sex': 0,
  'fare': 7.8,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 21},
 {'data_id': 117,
  'survived': 1,
  'sex': 1,
  'fare': 76.7292,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 49},
 {'data_id': 118,
  'survived': 1,
  'sex': 1,
  'fare': 26.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 29},
 {'data_id': 119,
  'survived': 0,
  'sex': 0,
  'fare': 61.9792,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 65},
 {'data_id': 120,
  'survived': 1,
  'sex': 1,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 21},
 {'data_id': 121,
  'survived': 0,
  'sex': 0,
  'fare': 7.2292,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 28},
 {'data_id': 122,
  'survived': 1,
  'sex': 1,
  'fare': 27.75,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 5},
 {'data_id': 123,
  'survived': 0,
  'sex': 0,
  'fare': 46.9,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 11},
 {'data_id': 124,
  'survived': 0,
  'sex': 0,
  'fare': 7.2292,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 22},
 {'data_id': 125,
  'survived': 1,
  'sex': 1,
  'fare': 80.0,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 38},
 {'data_id': 126,
  'survived': 0,
  'sex': 0,
  'fare': 83.475,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 45},
 {'data_id': 127,
  'survived': 0,
  'sex': 0,
  'fare': 27.9,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 4},
 {'data_id': 128,
  'survived': 1,
  'sex': 1,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 29},
 {'data_id': 129,
  'survived': 0,
  'sex': 0,
  'fare': 8.1583,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 19},
 {'data_id': 130,
  'survived': 1,
  'sex': 1,
  'fare': 7.925,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 17},
 {'data_id': 131,
  'survived': 0,
  'sex': 0,
  'fare': 8.6625,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 26},
 {'data_id': 132,
  'survived': 0,
  'sex': 0,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 32},
 {'data_id': 133,
  'survived': 0,
  'sex': 1,
  'fare': 46.9,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 16},
 {'data_id': 134,
  'survived': 0,
  'sex': 0,
  'fare': 73.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 21},
 {'data_id': 135,
  'survived': 0,
  'sex': 0,
  'fare': 14.4542,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 26},
 {'data_id': 136,
  'survived': 1,
  'sex': 0,
  'fare': 56.4958,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 32},
 {'data_id': 137,
  'survived': 0,
  'sex': 0,
  'fare': 7.65,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 25},
 {'data_id': 138,
  'survived': 1,
  'sex': 0,
  'fare': 29.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 0},
 {'data_id': 139,
  'survived': 1,
  'sex': 1,
  'fare': 12.475,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 30},
 {'data_id': 140,
  'survived': 0,
  'sex': 0,
  'fare': 9.0,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 22},
 {'data_id': 141,
  'survived': 1,
  'sex': 0,
  'fare': 9.5,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 29},
 {'data_id': 142,
  'survived': 0,
  'sex': 0,
  'fare': 47.1,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 28},
 {'data_id': 143,
  'survived': 1,
  'sex': 1,
  'fare': 10.5,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 17},
 {'data_id': 144,
  'survived': 1,
  'sex': 1,
  'fare': 15.85,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 33},
 {'data_id': 145,
  'survived': 0,
  'sex': 0,
  'fare': 34.375,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 16},
 {'data_id': 146,
  'survived': 1,
  'sex': 1,
  'fare': 263.0,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 23},
 {'data_id': 147,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 24},
 {'data_id': 148,
  'survived': 0,
  'sex': 0,
  'fare': 8.05,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 29},
 {'data_id': 149,
  'survived': 0,
  'sex': 0,
  'fare': 7.8542,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 20},
 {'data_id': 150,
  'survived': 0,
  'sex': 0,
  'fare': 61.175,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 46},
 {'data_id': 151,
  'survived': 0,
  'sex': 0,
  'fare': 20.575,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 26},
 {'data_id': 152,
  'survived': 0,
  'sex': 0,
  'fare': 7.25,
  'pclass': 3,
  'upload_date': '2024-05-18',
  'age': 59},
 {'data_id': 153,
  'survived': 0,
  'sex': 0,
  'fare': 34.6542,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 71},
 {'data_id': 154,
  'survived': 1,
  'sex': 0,
  'fare': 63.3583,
  'pclass': 1,
  'upload_date': '2024-05-18',
  'age': 23},
 {'data_id': 155,
  'survived': 1,
  'sex': 1,
  'fare': 23.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 34},
 {'data_id': 156,
  'survived': 0,
  'sex': 0,
  'fare': 26.0,
  'pclass': 2,
  'upload_date': '2024-05-18',
  'age': 34}]

In [25]:
#新しいモデルを作成する
data = {'start_index':50, 'end_index':150, 'model_name':'new_test'}#トレーニングに使うindexの範囲を指定する
url = host_name + "/train_new_model"
res = requests.post(url, json=data)

data_list = json.loads(res.content.decode('utf-8'))
print(data_list)

{'transaction_result': 'success'}

In [5]:
#モデルを評価する
data = {'version_id_1' : 2, 'start_index':0, 'end_index':150}
url = host_name + "/get_model_info"
res = requests.post(url, json=data)

data_list = json.loads(res.content.decode('utf-8'))
print(data_list)

None

In [15]:
data_list[0].keys()

dict_keys(['Survived', 'Pclass', 'Sex', 'Age', 'Fare'])

In [13]:
# Predict survival for a new passenger
new_passenger = pd.DataFrame({'Pclass': [1], 'Sex': [1], 'Age': [22.0], 'Fare': [7.25]})
survival_prediction = model.predict(new_passenger)
print('Survival prediction for the new passenger:', survival_prediction)

NameError: name 'model' is not defined

Accuracy: 0.7552447552447552
Survival prediction for the new passenger: [1]

In [30]:
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy import create_engine, desc, func, and_, or_
from sqlalchemy.orm.exc import NoResultFound

import os
from dotenv import load_dotenv
import datetime
import pytz
import numpy as np
import pandas as pd

from base_class import PassengerData, sql_PassengerData, sql_ModelParameter, sql_Relation

jst = pytz.timezone('Asia/Tokyo')#タイムゾーンを日本に設定
load_dotenv()  # .env ファイルを読み込む
"""
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
db_name = os.getenv('DATABASE')
"""
user = 'root'
password = 'mypassword'
host = '5ad71c2936c5'
db_name = "mydatabase"

# engineの設定
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{db_name}')

# セッションの作成
db_session = scoped_session(
  sessionmaker(
    autocommit=False,
    autoflush=False,
    bind=engine
  )
)

In [7]:
model_version_id = 1
include_training = False

filters = [sql_Relation.include_training.in_([True])]
index_filters = []
if include_training == False:
    filters.append(sql_Relation.include_training.in_([include_training]))
    data_index_list = [i for i in range(start_index, end_index)]
    index_filters = [sql_Relation.data_id.in_(data_index_list)]
try:
    query = db_session.query(sql_Relation).filter(
      sql_Relation.model_version_id == model_version_id,
      or_(*filters),
      or_(*index_filters)
      )

except Exception as e:
    print(e)
    db_session.rollback()

In [8]:
results = query.all()
data_id_list = [result.data_id for result in results]

In [9]:
len(data_id_list)

0

In [31]:
start_index = 0
end_index = 150

datas_for_analysis = get_psg_cls_list(start_index, end_index)
training_used_data_df, inference_results = inference_to_new_data(2, 0, 150, datas_for_analysis)

(mysql.connector.errors.DatabaseError) 2005 (HY000): Unknown MySQL server host 'None' (-2)
(Background on this error at: https://sqlalche.me/e/20/4xp6)

TypeError: 'NoneType' object is not iterable